<h1>All contacts</h1>

<div>
  <input id="fname" name="fname" type="text" placeholder="First name">
  <input id="lname" name="lname" type="text" placeholder="Last name">
  <input id="email" name="email" type="text" placeholder="Email address"><br>
  <button id="addContact">Add a new contact</button><br>
  <button id="getContacts">Show all contacts</button>
<div>
<br>
<div>
  <input id="searchterm" name="search" type="text" placeholder="Search term"><br>
  <button id="findContact">Search by name</button><br>
</div>
<hr>

<section id="contactsResults" class="hide">
  <div id="contactlist">

  </div>
</section>
