<h1>All contacts</h1>

<button id="getContacts">Show all contacts</button>

<input id="fname" name="fname" type="text" placeholder="First name">
<input id="lname" name="lname" type="text" placeholder="Last name">
<input id="email" name="email" type="text" placeholder="Email address">
<button id="addContact">Add a new contact</button>
<hr>

<section id="results" class="hide">
  <div id="contactlist">

  </div>
</section>
